@use "../utilities/colors" as *;
@use "../utilities/mixins" as m;
@use "../utilities/variables" as *;
@use "sass:color";

:root {
  --padding: 2rem;
}

@mixin light {
  --text: #{$gray-dark};
  --cta: #{$primary};
  --cta-rgb: #{toRGB($primary)};
  --app: #{$white};
  --on-app: var(--text);
  --text-inverse: #{$white};
  --link-color: var(--text);
  --link-active: var(--cta);
  --link-underline: var(--cta);

  --button-border: transparent;
}

@mixin dark {
  --text: #{$gray-light};
  --cta: #{$primary};
  --cta-rgb: #{toRGB($primary)};
  --app: #{$gray-dark};
  --on-app: var(--text);
  --text-inverse: #{$white};
  --link-color: var(--text);
  --link-active: var(--cta);
  --link-underline: var(--cta);

  --button-border: transparent;
}

@mixin reducedMotion {
  --trns-s : #{$ts};
  --trns-m : #{$tm};
  --trns-l : #{$tl};
  --trns-x : #{$tx};
  --trns-s-1 : 1s;

  --interactive-feedback: translateY(-.075em) scale(1.01);


  @media (prefers-reduced-motion: reduce) {
    --trns-s : 0s;
    --trns-m : 0s;
    --trns-l : 0s;
    --trns-x : 0s;
    --trns-s-1 : 0s;

    --interactive-feedback: translateY(0) scale(1);
    }
}



:root {
  color-scheme: light dark; // both are supported
  @include light;
  @include reducedMotion;

  @media (prefers-color-scheme: dark) {
    @include dark;
  }
}

.theme-dark {
  @include dark;
}

.theme-light {
  @include light;
}
