@use "../utilities" as *;
@use "../components" as component;
@use "../layout/nav";
@use "../layout/footer";


// @keyframes shadows {
//     0%   {text-shadow: .05em .05em 0 rgba($black,  0), .1em .1em 0 rgba($black,0),  .15em .15em 0 rgba($black,0),  .2em .2em 0 rgba($black,0);}
//     25%  {text-shadow: .05em .05em 0 rgba($black, .1), .1em .1em 0 rgba($black,0),  .15em .15em 0 rgba($black,0),  .2em .2em 0 rgba($black,0);}
//     50%  {text-shadow: .05em .05em 0 rgba($black, .1), .1em .1em 0 rgba($black,.1), .15em .15em 0 rgba($black,0),  .2em .2em 0 rgba($black,0);}
//     75%  {text-shadow: .05em .05em 0 rgba($black, .1), .1em .1em 0 rgba($black,.1), .15em .15em 0 rgba($black,.1), .2em .2em 0 rgba($black,0);}
//     100% {text-shadow: .05em .05em 0 rgba($black, .1), .1em .1em 0 rgba($black,.1), .15em .15em 0 rgba($black,.1), .2em .2em 0 rgba($black,.1);}
// }


html {
  // font-size: 72%;
  // @media (max-width: 1200px)          {font-size: 62.5%;}
  // @media (max-width: $breakpoint-menu){ font-size: 56%}

  @include scrolls($sst-orange, $gray-med-dark, 12);
}

body {
  background: var(--background);
  color: var(--text-color);
  font-size: 1rem;
  font-weight: normal;
  font-family: $font-body;

  overflow-x: hidden; /* ugh. I hate having to do this */
}

@include component.headings;
@include nav.main-nav;
@include footer.footer;

main {
  width: calc(100% - $padding);
  max-width: $max-width;
  min-height: calc(100vh - 201px - 6rem);
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: flex-start;
  align-items: baseline;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

.link {
  text-transform: capitalize;
}

code {
  background: var(--content-background);
  padding: 0 .5em;
  color: var(--heading-color);
  font-size: .9em;
}
