/*
@font-face{
    font-family:"Helvetica Neue LT W05_55 Roman";
    src: url("/fonts/08b57253-2e0d-4c12-9c57-107f6c67bc49.woff2") format("woff2"),
    url("/fonts/08edde9d-c27b-4731-a27f-d6cd9b01cd06.woff") format("woff");
}
@font-face{
    font-family:"Helvetica Neue LT W05_53 Ext";
    src: url("/fonts/0504481e-774c-4e57-a055-c94bb5303380.woff2") format("woff2"),
    url("/fonts/bf166391-2bf9-47fd-8382-193fffb422c4.woff") format("woff");
}
@font-face{
    font-family:"Helvetica Neue LT W05_83 Hv Ex";
    src: url("/fonts/37cade8a-4499-42b4-b79f-99143dd3a764.woff2") format("woff2"),
    url("/fonts/6823dde3-d344-4bb4-b5a4-add12527140d.woff") format("woff");
}

@font-face{
    font-family:"Helvetica Neue LT W05_56 Italic";
    src: url("/fonts/4bd56f95-e7ab-4a32-91fd-b8704cbd38bc.woff2") format("woff2"),
    url("/fonts/4fe1c328-1f21-434a-8f0d-5e0cf6c70dfb.woff") format("woff");
}
*/
