// @use "../utilities/normalize-min.css";
@use "../utilities/fonts" as fonts;
@use "../utilities/variables" as *;
@use "../components" as component;

::selection {
  background-color: var(--cta);
  color: var(--text-inverse);
}

html {
    line-height: 1.35em;
}

body {
  padding: 0;
  padding:  env(safe-area-inset-top)
            env(safe-area-inset-right)
            env(safe-area-inset-bottom)
            env(safe-area-inset-left);


  background: var(--app);
  color: var(--on-app);
  font-size: 1rem;
  font-weight: normal;
  font-family: fonts.$font-body;
}


main {
  width: min(100vw - (var(--padding) * 2), $max-width);
  margin: 0 auto;
  // min-height: calc(100vh - 201px - 6rem);
  background: var(--app);
}

a,
a:visited {
  color: var(--link-color);
  text-decoration: underline;
  text-underline-offset: .25em;
  text-decoration-color: var(--cta);
}
a:hover {
  color: var(--link-active);
}

p {
  margin-top: 0;
  line-height: 1.35em;
}

@include component.headings;

@include component.button;


header {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  // gap: 4rem;
  // justify-content: flex-start;
  // align-items: baseline;
}

