@use "../utilities/mixins" as *;
@use "sass:color";
@use "sass:map";
@use "sass:string";

//named colors
$sst-orange: #FF5308;
$sst-orange-30: #ff9162;
$autofill-light: #FFCFBB;
$autofill-dark: #494949;
$blue: #0593e4;
$teal: #00cfb7;
$purple: #8e24e6;
$red: #e00;
$orange: $sst-orange;
$yellow: #fb0;
$green: #2d0;

/* temp colors for STUDS */
$slate: #374046;
$pine: #484838;
$pumpkin: #D38225;




//grays
$white: #fff;
$black: #000;
$transparent: rgba(255, 255, 255, 0);
$gray-light: #ddd;
$gray-med-light: #aaa;
$gray-med: #777;
$gray-med-dark: #555;
$gray-dark: #333;


//Primary Colors
$cta: $blue;
$cta-rgb: toRGB($cta);
$background-light: #EBEBEB;
$background-med: #D7D8D8;
$background-med-dark: #444444;
$background-dark: #393939;


//text colors
$text: $gray-dark;
$text-gray: #a6a6a6;
$text-light: #c9c9c9;
$text-dark: $gray-dark;
$link: $cta;
$link-hover: $black;



/* named colors */
$sstColors: (
"orange":     (0: "#fff2ec",
              10: "#ffdaca",
              20: "#ffba9c",
              30: "#ff9162",
              40: "#ff601b",
              50: "#df4907",
              60: "#bb3d06",
              70: "#9a3205",
              80: "#7c2904",
              90: "#5f1f03",
             100: "#361102"),

"terracotta": (0: "#faf3f2",
              10: "#f0dedb",
              20: "#e3c2bd",
              30: "#d3a39b",
              40: "#c3857c",
              50: "#A66359",
              60: "#a05245",
              70: "#8f3b2f",
              80: "#7c271a",
              90: "#611d13",
             100: "#36100a"),

"pumpkin":    (0: "#fcf3e9",
              10: "#f7dec1",
              20: "#f0c18c",
              30: "#e89f4d",
              40: "#D38225",
              50: "#A8671D",
              60: "#945b1a",
              70: "#7a4b16",
              80: "#623c11",
              90: "#4a2e0d",
             100: "#291907"),

"walnut":     (0: "#fbf3eb",
              10: "#f3dec9",
              20: "#e6c4a1",
              30: "#c7a98c",
              40: "#a99077",
              50: "#87725F",
              60: "#766553",
              70: "#615344",
              80: "#4e4337",
              90: "#3b322a",
             100: "#201c17"),

"hazelwood":  (0: "#fbf4dc",
              10: "#f4e1a8",
              20: "#d9c995",
              30: "#bcae81",
              40: "#a0946e",
              50: "#807658",
              60: "#70684d",
              70: "#5d553f",
              80: "#4a4433",
              90: "#383426",
             100: "#1f1c15"),

"sage":       (0: "#f0f5f0",
              10: "#d7e5d9",
              20: "#b8d0bb",
              30: "#97b79b",
              40: "#799e7e",
              50: "#607D64",
              60: "#556f58",
              70: "#455b48",
              80: "#38493a",
              90: "#2b382c",
             100: "#171E18"),

"mauve":      (0: "#f6f3f6",
              10: "#e7dfe8",
              20: "#d2c6d4",
              30: "#baa9bd",
              40: "#a28ea6",
              50: "#847087",
              60: "#77617a",
              70: "#634f67",
              80: "#513e54",
              90: "#3f2f42",
             100: "#231a24"),

"steel":      (0: "#edf5fa",
              10: "#d2e2ee",
              20: "#b4c9d8",
              30: "#95adbf",
              40: "#7e92a1",
              50: "#657682",
              60: "#56656f",
              70: "#46515a",
              80: "#374046",
              90: "#282e33",
             100: "#121618"),

"gray":       (0: "#f4f4f4",
              10: "#e2e2e2",
              20: "#cacaca",
              30: "#aeaeae",
              40: "#959595",
              50: "#757575",
              60: "#686868",
              70: "#565656",
              80: "#444444",
              90: "#343434",
             100: "#1d1d1d")
);


// example: colorVal("orange", 40);
@function colorVal($color, $idx) {
  $temp: map.get($sstColors, $color);
  @return string.unquote(map.get($temp, $idx));
}

@function toRGB($color) {
  @return color.red($color) + ", " + color.green($color) + ", " + color.blue($color);
}

@mixin toHSL($color) {
   --h: #{color.hue($color)};
   --s: #{color.saturation($color)};
   --l: #{color.lightness($color)};
}
