@use "../utilities/mixins" as *;
@use "sass:color";
@use "sass:map";
@use "sass:string";

$gray-light: #ccc;
$gray-med: #777;
$gray-dark: #333;
$white: #fff;
$black: #000;

$primary: #da2448;
$secondary: #48008b;
$tertiary: #4b3e56;



@function toRGB($color) {
  @return color.red($color) + ", " + color.green($color) + ", " + color.blue($color);
}

@mixin toHSL($color) {
   --h: #{color.hue($color)};
   --s: #{color.saturation($color)};
   --l: #{color.lightness($color)};
}
