// refer to base/_fontFaces.scss for which fonts and names to use

// $font-body: "Helvetica Neue LT W05_55 Roman", "Helvetica", "Arial", sans-serif;
// $font-italic: "Helvetica Neue LT W05_56 Italic", "Helvetica", "Arial", sans-serif;
// $font-banner: "Helvetica Neue LT W05_53 Ext", "Helvetica", "Arial", sans-serif;
// $font-heading: "Helvetica Neue LT W05_83 Hv Ex", "Helvetica", "Arial", sans-serif;


$font-body: "Helvetica", "Arial", sans-serif;
$font-italic: "Helvetica", "Arial", sans-serif;
$font-banner: "Helvetica", "Arial", sans-serif;
$font-heading: "Helvetica", "Arial", sans-serif;

